<header class="container">
    <nav>
        <a href="/">
            <img src="/public/logo.svg" alt="" class="logo">
        </a>
        <div class="search-bar">
            <label for="search">
                <img src="/public/icons/search.svg" />
            </label>
            <input type="text" id="search" placeholder="Найти экскурсию">
        </div>

        <ul class="nav-nemu">
            <li class="nav-nemu__item">
                <a href="#">Мои экскурсии</a>
            </li>
            <li class="nav-nemu__item">
                <a href="#">Контакты</a>
            </li>
            <!-- <li class="nav-nemu__item">
                <a href="#">Ещё</a>
                <img src="/Public/icons/lil-arrow.svg">
            </li> -->
        </ul>
    </nav>

    <div class="btn-block">

        <a href="/guide-dashbord">Вернуться в профиль </a>
        <!-- <a href="tel:+375335070037">+375 (33) 507–00–37</a> -->
        <a href="/auth/logout" class="btn secondary-btn">Выйти</a>
    </div>

</header>