<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<header class="container">
    <nav>
        <a href="/">
            <img src="/public/logo.svg" alt="Логотип" class="logo">
        </a>

        <div class="search-bar">
            <label for="search">
                <img src="/public/icons/search.svg" />
            </label>
            <input type="text" id="search" placeholder="Найти экскурсию" oninput="Search(this)">
        </div>

        <ul class="nav-nemu">
            <li class="nav-nemu__item">
                <a href="/excursions/all">Экскурсии</a>
            </li>
            <li class="nav-nemu__item">
                <a href="/allInfo">О компании</a>
            </li>
            <li class="nav-nemu__item">
                <span id="more">Ещё</span>
                <img src="/Public/icons/lil-arrow.svg">
            </li>
        </ul>
    </nav>

    <a href="/excursions/all">
        <img src="/public/icons/search.svg" class="search-bar__icon" />
    </a>

    <div class="btn-block">
        <a href="tel:+375335070037"><span class="extra-info">+375 (33)</span> 507–00–37</a>
    </div>

    <lottie-player class="burger-btn reverseEffect" src="/Public/animations/menuV2.json" speed="1"
        style="min-width: 40px; max-width:40px; height: 40px" alt="Бургер-меню"></lottie-player>

    <div class="search-bar__block">
        <div class="search-bar__block-title">
            <h4>Популярные экскурсии</h4>
            <a href="/excursions/all" class="link">
                Смотреть все
                <img src="/Public/icons/btn-arrow.svg">
            </a>
        </div>

        <div class="search-results__wrapper">
        </div>
    </div>

    <div class="menu-more__block">
        <div class="menu-more__part-wrapper">
            <h5 class="extra-info h5">
                Частые вопросы
            </h5>
            <div class="menu-more__links">
                <a href="/allInfo#answer1" class="menu-more__item" onclick="scrollToBlock()">
                    Как забронировать экскурсию?
                </a>
                <a href="/allInfo#answer2" class="menu-more__item" onclick="scrollToBlock()">
                    Как отменить бронирование?
                </a>
                <a href="/allInfo#answer3" class="menu-more__item" onclick="scrollToBlock()">
                    Как стать гидом?
                </a>
                <!-- <a href="/allInfo#answer4" class="menu-more__item" onclick="scrollToBlock()">
                    Как оставить отзыв?
                </a> -->
                <a href="/allInfo" class="link">
                    Читать все
                    <img src="/Public/icons/btn-arrow.svg">
                </a>
            </div>
        </div>
        <div class="vr"> </div>
        <div class="menu-more__part-wrapper">
            <h5 class="extra-info h5">
                Выбор туристов
            </h5>
            <div class="menu-more__links">
                <a href="/excursions/all" class="menu-more__item">
                    Популярные экскурсии
                </a>
                <a href="/excursions/all" class="menu-more__item">
                    Дешёвые экскурсии
                </a>
                <div class="hr"></div>
                <p class="extra-info btn-text">
                    Не знаете, что выбрать? Сервис предложит вам лучший вариант!
                </p>
                <a href="/excursions/random" style="white-space: nowrap;" class="btn">Случайный маршрут</a>
            </div>
        </div>
        <div class="vr"> </div>
        <div class="menu-more__part-wrapper">
            <div>
                <h5 class="extra-info h5">
                    Опытные экскурсоводы
                </h5>
                <div class="menu-more__links guides">
                    <div class="guides-imgs__wrapper">
                        <img src="/Public/guideImages/guide1.jpg" alt="" class="guides-imgs__img">
                        <img src="/Public/guideImages/image 2185.png" alt="" class="guides-imgs__img">
                        <img src="/Public/guideImages/image 510.png" alt="" class="guides-imgs__img">
                        <img src="/Public/guideImages/image 511.png" alt="" class="guides-imgs__img">
                        <img src="/Public/guideImages/image 512.png" alt="" class="guides-imgs__img">
                    </div>
                    <div class="guides-text__wrapper">
                        <p class="extra-info" style="width: 190px;">
                            Ещё больше маршрутов от наших гидов
                        </p>
                        <!-- <a href="/allInfo#guides0" class="btn secondary-btn">Смотреть все</a> -->
                    </div>
                </div>
            </div>
            <div class="hr"></div>
            <div class="guides-info">
                <p class="extra-info" style="width: 190px;">
                    Только для зарегистрированных
                </p>
                <a href="/auth/login" class="link">
                    Войти
                    <img src="/Public/icons/btn-arrow.svg">
                </a>
            </div>
        </div>
    </div>

</header>

<script>
    let searchBar = document.querySelector('#search'),
        searchBarBlock = document.querySelector('.search-bar__block');

    searchBar.addEventListener("focus", (event) => {
        searchBarBlock.classList.add("show");
        Search(event.target);
    });

    async function Search(target) {
        let formData = new FormData();
        formData.append('str', target.value);

        let response = await fetch('/excursions/search?str=' + target.value, {
            method: "GET"
        });

        let result = await response.json();
        console.log(result)
        let container = document.querySelector('.search-results__wrapper');
        container.innerHTML = '';
        for (let i = 0; i < 4 && i < result.length; i++) {
            let item = result[i];
            container.innerHTML += `
                <a href="/excursions/show/${item?.id}" class="search-results__item">
                    <div style='display: flex; gap: 8px; align-items: center;'>
                    <img class="search-results__img"
                        src="${item?.images[0]?.imgSRC}"
                        alt="">
                    <div class="search-results__title">${item?.name}</div>
                    </div>
                    <div class="search-results__item-info">
                        <span class="extra-info">${item?.duration} часа</span>
                        <span class="extra-info">${item?.format?.name}</span>
                    </div>
                </a>`
        }
    }

    let more = document.querySelector("#more"),
        moreBlock = document.querySelector(".menu-more__block"),
        burgerBtn = document.querySelector(".burger-btn");

    more.addEventListener("click", () => {
        moreBlock.classList.add("show");
        document.addEventListener('mouseup', function (e) {
            if (!moreBlock.contains(e.target)) {
                moreBlock.classList.remove('show');
            }
        });
    });

    //кнопка бургер-меню
    let player = document.querySelector(".reverseEffect");
    let clicked = false;
    player.addEventListener("click", () => {

        moreBlock.classList.add("show");

        if (clicked) {
            player.setDirection(-1);
            clicked = false;
            moreBlock.classList.remove('show');
        } else {
            player.setDirection(1);
            clicked = true;
        }
        player.play();

    });


</script>