<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust Minsk – Основная информация</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/header-style.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <%- include('./partials/header'); %>




        <div class="container two-part-container">
            <div class="first-container-part">
                <h2>О компании Wanderlust Minsk</h2>
            </div>
            <div class="input-wrap second-container-part">
                <p class="paragraph">В компании «Wanderlust» по всему миру работает огромное количество
                    человек, которые оказывают услуги в сфере туризма. «Wanderlust Minsk» — белорусский
                    филиал основной организации – не исключение</p>
                <p class="paragraph">Лучшие экскурсии по городу на самые разные тематике и для совершенно разнообразно
                    аудитории удаётся предоставлять компании за счёт того, что в штате своих сотрудников она имеет
                    только самых опытных, целеустремлённых любителей своего дела, которые знают о Минске всё.
                </p>
                <p class="paragraph">Не откладывай в долгий ящик! Выбирай понравившуюся экскурсию на сайте, бронируй и
                    узнавай новое и интересное о Минске, его достопримечательностях, особенностях и истории</p>
                <p calss="paragraph">Телефон для справок: <a href="tel:+375335070037" class="link">+375 (33)
                        507–00–37</a>. Офис по адресу г. Минск ул. Мелиоративная д. 8 работает с 8:00 до 20:00 без обеда
                    и выходных. Мы всегда рады ответить на интересующие вас вопросы по телефону или пообщаться лично</p>
            </div>
        </div>

        <div class="container two-part-container" id="guides0">
            <div class="first-container-part">
                <h2>Экскурсоводы из Wanderlust Minsk</h2>
            </div>
            hjkkkkkkkkkkkkk
        </div>

        <div class="container two-part-container" id="answer0">
            <div class="first-container-part">
                <h2>Ответы на часто задаваемые вопросы</h2>
            </div>
            <ul class="accordion__list second-container-part">
                <li class="accordion__item" id="answer1">
                    <div class="accordion__title-block" id="allInfo">
                        <div class="accordion__title-content">
                            <h3 class="accordion__title">Как забронировать экскурсию?</h3>
                            <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                        </div>
                    </div>
                    <div class="accordion__text-block">
                        <div class="input-wrap">
                            <p class="paragraph">Для бронирования экскурсии необходимо выбрать экскурсию из <a
                                    href="/excursions/all" class="link">списка всех доступных</a>, на странице экскурсии
                                нажать кнопку «Забронировать», чтобы перейти к форме бронирования. В форме необходимо
                                выбрать один из доступных дней для бронирования, указать свои контактные данные,
                                количество человек и, убедившись, что все данные введены верно, а стоимость
                                соответствует вашим ожиданиям, нажать кнопку «Забронировать». </p>
                            <p class="paragraph">После отправки данных гид свяжется с вами в ближайшее время для
                                уточнения всех деталей. Это необходимо для того, чтобы подтвердить, что вы реальный
                                человек, так как на сайте не нужна регистрация и предоблата для осуществления
                                бронирования</p>
                            <div class="window-btns">
                                <a href="/excursions/all" class="btn">Все экскурсии</a>
                                <a href="/excursions/random" class="btn secondary-btn">Случайный маршрут</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="accordion__item " id="answer2">
                    <div class="accordion__title-block" id="allInfo">
                        <div class="accordion__title-content">
                            <h3 class="accordion__title">Как отменить бронирование?</h3>
                            <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                        </div>
                    </div>
                    <div class="accordion__text-block">
                        <div class="input-wrap">
                            <p class="paragraph">После бронирования экскурсии на указанную вами почту приходит
                                электронный билет, который содержит основную информацию об экскурсии, гиде и других
                                организационных моментах. В электронном билете есть кнопка «Отменить бронирование»,
                                нажимая на которую вы отменяете бронирование и автоматически переходите на наш сайт </p>
                            <p class="paragraph">Обратите внимание, что если вам на почту не пришёл электронный билет,
                                значит вы возможно указали неверную почту или сообщение попало в список «Спам» вашего
                                почтового ящика. Для уточнения деталей вы можете обратиться по телефону <a
                                    href="tel:+375335070037" class="link">+375 (33) 507–00–37</a> в рабочие часы
                                компании</p>
                        </div>
                    </div>
                </li>
                <li class="accordion__item" id="answer3">
                    <div class="accordion__title-block" id="allInfo">
                        <div class="accordion__title-content">
                            <h3 class="accordion__title">Как стать гидом?</h3>
                            <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                        </div>
                    </div>
                    <div class="accordion__text-block">
                        <div class="input-wrap">
                            <p class="paragraph">В компании «Wanderlust» по всему миру работает огромное количество
                                человек, которые оказывают услуги в сфере туризма. «Wanderlust Minsk» — белорусский
                                филиал основной организации – не исключение</p>
                            <p class="paragraph">Если у вас есть соответствующие опыт, знания и желание ими поделиться,
                                приглашаем вас стать частью
                                нашей большой команды энтузиастов и прислать своё резюме нам на почту
                            </p>
                            <a class="btn secondary-btn" href="mailto:hr@wanderlust.ru"> Прислать резюме </a>
                        </div>
                    </div>
                </li>
                <li class="accordion__item " id="answer4">
                    <div class="accordion__title-block" id="allInfo">
                        <div class="accordion__title-content">
                            <h3 class="accordion__title">Как стать гидом?</h3>
                            <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                        </div>
                    </div>
                    <div class="accordion__text-block">
                        <div class="input-wrap">
                            <p class="paragraph">В компании «Wanderlust» по всему миру работает огромное количество
                                человек, которые оказывают услуги в сфере туризма. «Wanderlust Minsk» — белорусский
                                филиал основной организации – не исключение</p>
                            <p class="paragraph">Если у вас есть соответствующие опыт, знания и желание ими поделиться,
                                приглашаем вас стать частью
                                нашей большой команды энтузиастов и прислать своё резюме нам на почту
                            </p>
                            <a class="btn secondary-btn" href="mailto:hr@wanderlust.ru"> Прислать резюме </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <script src="/public/js/anchorScroll.js"></script>
        <script src="/Public/js/accordion.js"></script>
</body>

</html>