<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust Minsk – Главная страница</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/header-style.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <% if(!data) {%>
        <%- include('./partials/header'); %>
            <% } else {%>
                <%- include('./guidePages/partials/header'); %>
                    <% }%>
                        <img src="/Public/images/main.png" alt="">

                        <div class="container two-part-container">

                            <h2>Новая серия туристических маршрутов по Минску</h2>

                            <a class="btn" href="/auth/login">Войти</a>

                        </div>


                        <script src="/public/js/anchorScroll.js"></script>
                        <script src="./index.js"></script>
</body>

</html>