<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <%- include('./partials/header'); %>

        <div class="container two-part-container">

            <a class="btn" href="/auth/login">Войти</a>
        </div>



        <!-- <form action="http://localhost:4000/auth/registration" method="post">

        <label for="name">Username:</label>
        <input type="text" id="name" name="name" value="test">

        <label for="login">Login:</label>
        <input type="text" id="login" name="login" value="test2">

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="test">

        <input type="submit" value="Отправить">

    </form> -->

        <!-- <form action="http://localhost:4000/auth/login" method="post">

        <label for="login">Login:</label>
        <input type="text" id="login" name="login" value="test2">

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="test">

        <input type="submit" value="Отправить">

    </form> -->

        <script src="./index.js"></script>
</body>

</html>