<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/header-style.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <%- include('./partials/header'); %>

        <div class="container two-part-container">

            <form class="login-form" onsubmit="LoginSubmit(event)">
                <h2>Вход</h2>
                <div class="box-input">
                    <input type="email" name="email" id="email" class="input" placeholder=" ">
                    <label>Адрес электронной почты</label>
                    <div class="box-input__error-text email-error"></div>
                </div>

                <div class="box-input">
                    <input type="password" name="password" id="password" class="input" placeholder=" ">
                    <label>Пароль</label>
                    <div class="box-input__error-text password-error"></div>
                </div>

                <input type="submit" class="btn" value="Войти">

            </form>

            <div class="paragraph-wrap">
                <p class="paragraph">
                    Вход доступен только для гидов
                </p>
                <p class="paragraph">
                    Если у вас есть соответствующие опыт, знания и желание ими поделиться, приглашаем вас стать частью
                    нашей
                    большой команды энтузиастов. Присылайте своё резюме по адресу
                    <a href="mailto:hr@wanderlust.ru">hr@wanderlust.ru</a>
                </p>
            </div>
        </div>
        <script src="/public/js/login.js"></script>
</body>

</html>