<form onsubmit="LoginSubmit(event)">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="test2@asd.sds">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="testtest">

    <input type="submit" value="Отправить">

</form>

<script src="/public/login.js"></script>