header {
  display: flex;
  gap: 40px;
  position: fixed;
  z-index: 2;
  top: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-green);
  background-color: #fff;
}

header.container {
  padding-top: 8px;
  padding-bottom: 8px;
}


header nav {
  display: flex;
  align-items: center;
  column-gap: 24px;
  width: 100%;

}

.nav-nemu {
  display: flex;
  column-gap: 40px;
}

.nav-nemu__item {
  text-transform: uppercase;
  align-items: center;
  display: flex;
  column-gap: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.nav-nemu__item:hover {
  font-weight: 600;
}

.search-bar {
  display: flex;
  border: 2px solid var(--border-color);
  border-radius: var(--radius);
  padding: 8px 10px;
  column-gap: 10px;
  font-size: 16px;
  max-width: 400px;
  width: 100%;
}


.search-bar__icon {
  display: none;
}

.search-bar input {
  width: 100%;
}

.btn-block {
  display: flex;
  column-gap: 24px;
  align-items: center;
  white-space: nowrap;
}

.btn-text {
  width: 180px;
}

.menu-more__block {
  visibility: hidden;
  display: flex;
  justify-content: center;
  gap: 44px;
  position: absolute;
  background-color: #fff;
  border-radius: 0 0 var(--radius) var(--radius);
  border: 1px solid var(--border-color);
  width: 100%;
  /* height: fit-content; */
  right: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  top: 100%;
  transform: translateY(-20%);
  opacity: 0;
  transition: .2s ease;
}

.menu-more__part-wrapper:last-child {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-more__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 24px;
}

.menu-more__item {
  width: 100%;
  font-size: 18px;
}

.menu-more__item:hover {
  color: var(--main-color);
}

.guides-imgs__img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  object-fit: cover;
  margin-right: -20px;
}

.guides-imgs__wrapper {
  display: flex;
  margin-top: -12px;
}

.guides-info {
  display: flex;
  align-items: end;
}

.vr::after {
  content: "";
  display: block;
  background-color: var(--border-color);
  height: 100%;
  width: 1px;
}

.hr::after {
  content: "";
  display: block;
  background-color: var(--border-color);
  height: 1px;
  width: 100%px;
}


.search-bar__block {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  border-radius: 0 0 var(--radius) var(--radius);
  border: 1px solid var(--border-color);
  width: 560px;
  top: 100%;
  left: 15%;
  transform: translateY(-20%);
  opacity: 0;
  transition: .2s ease;
}

.search-bar__block.show,
.menu-more__block.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.search-bar__block-title {
  margin: 12px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-results__img {
  width: 45px;
  height: 45px;
  border-radius: var(--radius);
  margin-right: 16px;
  object-fit: cover;
}

.search-results__item {
  padding: 12px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
  background-color: #fff;
  transition: .2s ease;
  cursor: pointer;
}

.search-results__item:hover {
  background-color: var(--light-bg);
}

.search-results__wrapper {
  display: flex;
  flex-direction: column;
}

.search-results__item-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
  margin-left: 20px;
  row-gap: 4px;
  font-weight: 400;
}

.search-results__title {
  line-height: 120%;
}

.burger-btn {
  display: none;
  cursor: pointer;
}

.guides-text__wrapper {
  display: flex;
  gap: 20px;
}

@media (max-width: 1160px) {
  header {
    gap: 20px;
  }

  .nav-nemu {
    column-gap: 20px;
  }


}

@media (max-width: 960px) {
  header {
    gap: 20px;
  }

  .nav-nemu {
    column-gap: 20px;
  }

  .guides-text__wrapper {
    gap: 16px;

    flex-direction: column;
  }


}

@media (max-width: 768px) {
  .nav-nemu {
    display: none;
  }

  .burger-btn {
    display: block;
  }

  .form-wrapper {
    width: 100%;
  }

  .search-bar__block {
    left: 8px;
  }



}

@media (max-width: 576px) {
  .search-bar__block {
    width: 100%;
    left: 0;
  }

  .search-bar {
    display: none;
  }

  .search-bar__icon {
    display: block;
  }

}


@media (max-width: 360px) {
  .logo {
    height: 30px;
  }

  header {
    gap: 8px;
  }
}