<form onsubmit="RegistrationSubmit(event)">

    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" value="test2">
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="test2@asd.sds">

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" value="testtest">

    <label for="secondPassword">Повторить пароль:</label>
    <input type="password" id="secondPassword" name="secondPassword" value="testtest">

    <input type="submit" value="Зарегистрировать">

</form>

<script src="/public/registration.js"></script>